.form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 1px solid black;
  align-items: center;
  /* height: 40vh; */
  width: 20vw;
  height: 30vh;
  background: rgb(17, 177, 25);
  margin-left: 50vw;
  margin-top: 50px;
}

img {
  width: 400px;
}

/* .formdiv {
  border: 1px solid black;
  flex-direction: column;
  width: 200px;
} */

.header {
  background-color: brown;
  height: 80px;
}
